.contenido{
  display:flex;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 60px;
  width: 80%;
}

.contenido section{
  width: 80%;
}

.contenido-final{
  display: flex;
  justify-content: space-between;
}

.left{
  display: flex;
}

.left > div {
  padding: 5px;
}

.right {
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right div {
	margin: 0 .5em;
}

.right div a{
  font-weight: 450;
  color: #000;
}

.contentfooter{
  background-color: #DDDDDD;
}

.footer{
  margin: 20px;
  padding: 10px;
}

section >ul{
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
  padding: 5px;
}

ul > li > a{
  text-decoration: none;
  color: #000;
}
