<div class="contentfooter">
  <footer>
    <div class="footer">
      <div class="contenido container">
        <section class="contenido-li">
          <div class="titulo">
            <h3>Asistencia</h3>
          </div>
          <ul>
            <li><a href="">Centro de ayuda</a></li>
            <li><a href="">Información de seguridad</a></li>
            <li><a href="">Opciones de cancelación</a></li>
            <li><a href="">Nuestra respuesta frente a la COVID-19</a></li>
            <li><a href="">Apoyo a las personas con discapacidad</a></li>
            <li><a href="">Denunciar un problema en el vecindario</a></li>
          </ul>
        </section>
        <section class="contenido-li">
          <div class="titulo">
            <h3>Comunidad</h3>
          </div>
          <ul>
            <li><a href="">Airbnb.org: alojamiento de ayuda en caso <br> de catástrofe</a></li>
            <li><a href="">Apoya a los refugiados afganos</a></li>
            <li><a href="">Celebramos la diversidad y el sentido de <br> pertenencia</a></li>
            <li><a href="">Luchamos contra la discriminación</a></li>
          </ul>
        </section>
        <section class="contenido-li">
          <div class="titulo">
            <h3>Modo anfitrión</h3>
          </div>
          <ul>
            <li><a href="">Anímate a compartir tu espacio</a></li>
            <li><a href="">AirCover: protección para los anfitriones</a></li>
            <li><a href="">Recursos para anfitriones</a></li>
            <li><a href="">Visita el foro de la comunidad</a></li>
            <li><a href="">Cómo brindar servicios de anfitrión de <br> forma responsable</a></li>
          </ul>
        </section>
        <section class="contenido-li">
          <div class="titulo">
            <h3>Acerca de</h3>
          </div>
          <ul>
            <li><a href="">Sala de prensa</a></li>
            <li><a href="">Más información sobre las nuevas <br> funciones</a></li>
            <li><a href="">Carta de nuestros fundadores</a></li>
            <li><a href="">Carreras</a></li>
            <li><a href="">Inversionistas</a></li>
            <li><a href="">Airbnb Luxe</a></li>
          </ul>
        </section>
      </div>
    </div>
    <hr class="container">
    <div class="pie">
      <div>
        <div class="contenido-final container">
          <div class="left">
            <div>© 2022 Airbnb, Inc.</div>
            <div>Privacidad</div>
            <div>Términos</div>
            <div>Mapa del sitio</div>
          </div>
          <div class="right">
            <div class="btn-single" id="net"><a href=""><svg id="nav" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 16px; width: 16px; fill: currentcolor;"><path d="m8.002.25a7.77 7.77 0 0 1 7.748 7.776 7.75 7.75 0 0 1 -7.521 7.72l-.246.004a7.75 7.75 0 0 1 -7.73-7.513l-.003-.245a7.75 7.75 0 0 1 7.752-7.742zm1.949 8.5h-3.903c.155 2.897 1.176 5.343 1.886 5.493l.068.007c.68-.002 1.72-2.365 1.932-5.23zm4.255 0h-2.752c-.091 1.96-.53 3.783-1.188 5.076a6.257 6.257 0 0 0 3.905-4.829zm-9.661 0h-2.75a6.257 6.257 0 0 0 3.934 5.075c-.615-1.208-1.036-2.875-1.162-4.686l-.022-.39zm1.188-6.576-.115.046a6.257 6.257 0 0 0 -3.823 5.03h2.75c.085-1.83.471-3.54 1.059-4.81zm2.262-.424c-.702.002-1.784 2.512-1.947 5.5h3.904c-.156-2.903-1.178-5.343-1.892-5.494l-.065-.007zm2.28.432.023.05c.643 1.288 1.069 3.084 1.157 5.018h2.748a6.275 6.275 0 0 0 -3.929-5.068z"></path></svg></a></div>
            <div>
              <a href="#">Español(CO)</a>
            </div>
            <div>
              <span>$</span>
              <span><a href="#">COP</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer>

</div>
