<div class="contentfooter">
  <footer>
    <div class="footer">
      <div class="contenido container">
        <section class="contenido-li">
          <div class="titulo">
            <h3>Asistencia</h3>
          </div>
          <ul>
            <li><a href="">Centro de ayuda</a></li>
            <li><a href="">Información de seguridad</a></li>
            <li><a href="">Opciones de cancelación</a></li>
            <li><a href="">Nuestra respuesta frente a la COVID-19</a></li>
            <li><a href="">Apoyo a las personas con discapacidad</a></li>
            <li><a href="">Denunciar un problema en el vecindario</a></li>
          </ul>
        </section>
        <section class="contenido-li">
          <div class="titulo">
            <h3>Comunidad</h3>
          </div>
          <ul>
            <li><a href="">Airbnb.org: alojamiento de ayuda en caso <br> de catástrofe</a></li>
            <li><a href="">Apoya a los refugiados afganos</a></li>
            <li><a href="">Celebramos la diversidad y el sentido de <br> pertenencia</a></li>
            <li><a href="">Luchamos contra la discriminación</a></li>
          </ul>
        </section>
        <section class="contenido-li">
          <div class="titulo">
            <h3>Modo anfitrión</h3>
          </div>
          <ul>
            <li><a href="">Anímate a compartir tu espacio</a></li>
            <li><a href="">AirCover: protección para los anfitriones</a></li>
            <li><a href="">Recursos para anfitriones</a></li>
            <li><a href="">Visita el foro de la comunidad</a></li>
            <li><a href="">Cómo brindar servicios de anfitrión de <br> forma responsable</a></li>
          </ul>
        </section>
        <section class="contenido-li">
          <div class="titulo">
            <h3>Acerca de</h3>
          </div>
          <ul>
            <li><a href="">Sala de prensa</a></li>
            <li><a href="">Más información sobre las nuevas <br> funciones</a></li>
            <li><a href="">Carta de nuestros fundadores</a></li>
            <li><a href="">Carreras</a></li>
            <li><a href="">Inversionistas</a></li>
            <li><a href="">Airbnb Luxe</a></li>
          </ul>
        </section>
      </div>
    </div>
    <hr>
    <div class="pie">
      <div>
        <div class="contenido-final">
          <div>© 2022 Airbnb, Inc.</div>
          <div>Privacidad</div>
          <div>Términos</div>
          <div>Mapa del sitio</div>
          <div>
            <a href="">Español(CO)</a>
          </div>
          <div>
            <span>$</span>
            <span><a href="">COP</a></span>
          </div>
        </div>
      </div>
    </div>
    </footer>

</div>
