a:hover{
  background-color: rgb(240, 235, 235);
}

.air-img{
  width:100%;
  height:100vh;
  margin-top:20px;
  padding-top: 10px;
}

.img-content{
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

.texto{
  margin: 30px;
  padding: 10px;
}

