<div class="container">
  <h2>Descubre las experiencias de Airbnb</h2>
  <div class="contenedor">
    <div class="contenedor-actividad">

      <!-- actividad 1 -->
      <div class="actividad">

        <div class="actividad-img" style="background-image: url('../../../assets/img/imgAir.jpg')">
          <div class="textos">
            <h3 class="text-light">Actividades <br>para tu viaje</h3>
            <span><a href="#" class="btn btn-light mt-4 btn-lg">Experiencias</a></span>
          </div>
        </div>

      </div>

      <!-- actividad 2 -->
      <div class="actividad">

        <div class="actividad-img"  style="background-image: url('../../../assets/img/imgAir.jpg')">
          <div class="textos">
            <h3 class="text-light">Actividades <br>desde casa</h3>
            <span><a href="#" class="btn btn-light mt-4 btn-lg">Experiencias en línea</a></span>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
