a{
  text-decoration: none;
  color: #000;
}

a:hover{
  background-color: rgb(240, 235, 235);
}

.contenedor{
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: space-evenly;
}

.contenedor-actividad{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.actividad{
  width: 50%;
  min-height: 300px;
}

.actividad-img{
  height: 100%;
  margin: 0 10px;
  border-radius: 10px;
}

.actividad-img .textos{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

