<div class="container lugares">
  <h2 class="pt-5">Inspiración para tu próximo viaje</h2>
  <div class="row pt-4">

    <!-- tarjeta 1 -->
    <div class="col-xs-12 col-md-4 col-sm-6 g-1">

      <div class="card card-content">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

    </div>

    <!-- tarjeta 2 -->
    <div class="col-xs-12 col-md-4 col-sm-6 g-1">

      <div class="card card-content">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar" class="">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

    </div>

    <!-- tarjeta 3 -->
    <div class="col-xs-12 col-md-4 col-sm-6 g-1">

      <div class="card card-content">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar" class="">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

    </div>

    <!-- tarjeta 4 -->
    <div class="col-xs-12 col-md-4 col-sm-6 g-1">

      <div class="card card-content">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar" class="">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

  </div>
</div>


