<div class="container lugares">
  <h2>Inspiración para tu próximo viaje</h2>
  <div class="row pt-4">

    <div class="col-3">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar" class="card-img-top">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

    </div>

    <!-- tarjeta 2 -->
    <div class="col-3">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar" class="card-img-top">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

    </div>

    <!-- tarjeta 3 -->
    <div class="col-3">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar" class="card-img-top">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

    </div>

    <!-- tarjeta 4 -->
    <div class="col-3">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/img/melgar.jpg" alt="Melgar" class="card-img-top">
        <div class="card-body contenido">
          <h4>Melgar</h4>
          <p class="card-text">
            76 kilometros de distancia.
          </p>
        </div>
      </div>

  </div>
</div>


